<template>
    <el-container style="padding:3rem;flex-wrap:wrap;">
        <el-table
            ref="taskTable"
            :data="taskTable.data"
            style="flex-basis:100%;"
            >
            <el-table-column
                prop="date"
                label="Date"
                width="180">
            </el-table-column>
            <el-table-column
                prop="name"
                label="Name"
                width="180">
            </el-table-column>
            <el-table-column
                prop="address"
                label="Address">
            </el-table-column>
        </el-table>
        <div class="break mt-1"></div>
        <el-button @click="showNewTaskDialog()">+ New task</el-button>
        <el-select v-model="newTaskDialog.inputMethod.selected" placeholder="Select">
            <el-option
                v-for="item in newTaskDialog.inputMethod.options"
                :key="item.value"
                :label="item.label"
                :value="item.value">
            </el-option>
        </el-select>
        <div class="break mt-1"></div>
        <div v-show="newTaskDialog.inputMethod.selected == 'upload-files'" style="flex-basis:100%;">
            <span><small>{{ newTaskDialog.upload.fileList.length }} file(s) uploaded</small></span>
            <el-upload
                ref="uploader"
                class="upload-demo"
                :auto-upload="false"
                :file-list="newTaskDialog.upload.fileList"
                :on-remove="newTaskDialog.upload.handleRemove"
                :on-change="newTaskDialog.upload.handleChange"
                :multiple="true"
                list-type="picture"
                drag
                >
                <div style="width:100%;height:100%;display:flex;justify-content:center;align-items:center;">
                    <span>Click to upload</span>
                </div>
                <div slot="tip" class="el-upload__tip">jpg/png files with a size less than 64MB</div>
            </el-upload>
        </div>
        <div v-show="newTaskDialog.inputMethod.selected == 'teepublic'" style="flex-basis:100%;">
            <div>
                <el-input placeholder="www.teepublic.com/t-shirt/22732861-mushrooms-at-night">
                    <template slot="prepend">https://</template>
                </el-input>
            </div>
        </div>
    </el-container>
</template>

<style>
.el-upload {
    width: 100%;
}
.el-upload-dragger {
    width: 100%;
}
</style>

<script>

export default {
    data: () => ({
        taskTable: {
            data: []
        },
        newTaskDialog: {
            show: false,
            inputMethod: {
                options: [
                    {
                        label: 'Upload files',
                        value: 'upload-files'
                    },
                    {
                        label: 'Teepublic',
                        value: 'teepublic'
                    }
                ],
                selected: 'upload-files',
            },
            upload: {
                fileList: [],
                handleRemove(file) {
                    const fileIdx = this.fileList.indexOf(file);
                    if(fileIdx == -1) return;
                    this.fileList.splice(fileIdx, 1);
                },
                handleChange(file) {
                    this.fileList.push(file);
                }
            },
        }
    }),
    components: {
    },
    methods: {
    }
};
</script>
