@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "./responsive/extra-large.css";
@import "./responsive/large.css";
@import "./responsive/medium.css";
@import "./responsive/small.css";

body {
    margin: 0;
}

body * {
    font-family: Poppins;
    box-sizing: border-box;
}

*::-webkit-scrollbar {
    width: .8rem;
}

*::-webkit-scrollbar-track {
    background: #e2e3e4;
}

*::-webkit-scrollbar-thumb {
    background-color: #666;
    border-radius: 6px;
    border: 3px solid #e2e3e4;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #666 #e2e3e4;
}

span {
    color: #666;
}

.break {
    flex-basis: 100%;
    height: 0;
}

.mt-1 {
    margin-top: 1rem;
}

.mr-1 {
    margin-right: 1rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

.ml-1 {
    margin-left: 1rem;
}

.mx-1 {
    margin-left: 1rem;
    margin-right: 1rem;
}

.my-1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}


